body {
  align-items: center;
  margin: 0;
  background-color: black;
  color: aliceblue;
}
h1 {
  text-align: center;
  margin: 0;
  padding: 20px;
}
section {
  display: flex;
  color: aliceblue;
}

section .weather {
  border: 1px solid #ccc;
  flex: 1;
  padding: 10px;
  text-align: center;
}

.weather span {
  font-weight: bold;
}
